<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display CRUD</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
        <% for(var i=0; i < 2; i++) { %>
            <tr>
                <td>
                    <%= data[i].username %>
                </td>
                <td>
                    <%= data[i].email %>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>