.content{
    width: 100vw;
    height: 100vh;
    background-color: rgb(236, 207, 171);
    color: black;
    .page-title{
        padding: 10px ;
        font-size: 40px;
        margin: auto 0 auto auto;
    }
    .table{
        width: 80vw;
        .btn-add{
            width: 100vw;
            background-color: rgb(236, 207, 171);
            padding: 5px 0 ;
        }
        .table-content{
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                background-color: rgb(245, 234, 234);
              }
              
              td, th {
                border: 1px solid #262020;
                text-align: center;
                padding: 8px;
              }
              
              tr:nth-child(odd) {
                background-color: #dddddd;
              }
        }
    }
}